<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taihe.eggshell">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".base.EggshellApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity
            android:name=".main.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".main.GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />


        <!--注册-->
        <activity
            android:name=".login.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--登录-->
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--忘记密码-->
        <activity
            android:name=".login.ForgetPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--编辑个人基本资料-->
        <activity
            android:name=".personalCenter.activity.MyBasicActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--设置-->
        <activity
            android:name=".personalCenter.activity.SetUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!--关于我们-->
        <activity
            android:name=".personalCenter.activity.AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--合作渠道-->
        <activity
            android:name=".personalCenter.activity.TeamActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".personalCenter.activity.HelpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--意见反馈-->
        <activity
            android:name=".personalCenter.activity.FeedbackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />


        <!--工作相关界面-->
        <!--职位列表页面-->
        <activity
            android:name=".job.activity.FindJobActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".job.activity.JobDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--职位筛选-->
        <activity
            android:name=".job.activity.JobFilterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".job.activity.JobSearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--行业类别-->
        <activity
            android:name=".job.activity.IndustryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--我的投递-->
        <activity
            android:name=".job.activity.MyPostActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--我的收藏-->
        <activity
            android:name=".job.activity.MyCollectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".main.CompanyDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".login.RestPwdActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".meetinginfo.InfoDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeManagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeWriteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeMultiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeWorkActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeEduActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeTrainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeTechActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeProjectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeBookActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeSelfActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeWorkScanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeEduScanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumeScanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--选择城市-->
        <activity
            android:name=".widget.cityselect.CitySelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".widget.addressselect.AddressSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/android:Theme.Holo.Light"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--视频播放页-->
        <activity
            android:name=".videoplay.VideoPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" />
        <!--信息台-->
        <activity
            android:name=".meetinginfo.Act_MeetingInfo"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <service android:name="com.easefun.polyvsdk.server.AndroidService"></service>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="VGhZOotiRWGkZjsiosu0wyI4" />

        <meta-data android:value="55ea7c92e0f55a517c00239a" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="guanfang" android:name="UMENG_CHANNEL"/>


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

    </application>

</manifest>
