<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taihe.eggshell">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".base.EggshellApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity
            android:name=".main.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />


        <!--注册-->
        <activity
            android:name=".login.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--登录-->
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--忘记密码-->
        <activity
            android:name=".login.ForgetPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--编辑个人基本资料-->
        <activity
            android:name=".personalCenter.activity.MyBasicActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!--设置-->
        <activity
            android:name=".personalCenter.activity.SetUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!--关于我们-->
        <activity
            android:name=".personalCenter.activity.AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personalCenter.activity.HelpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".personalCenter.activity.FeedbackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".map.LocationMapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--工作相关界面-->
        <!--职位列表页面-->
        <activity
            android:name=".job.activity.FindJobActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".job.activity.JobDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <!--职位筛选-->
        <activity
            android:name=".job.activity.JobFilterActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".job.activity.JobSearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--我的投递-->
        <activity
            android:name=".job.activity.MyPostActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <!--我的收藏-->
        <activity
            android:name=".job.activity.MyCollectActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.entity.CompanyDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".login.RestPwdActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".meetinginfo.InfoDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumManagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".resume.ResumWriteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

	<activity
            android:name=".resume.ResumeMultiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--选择城市-->
        <activity
            android:name=".widget.cityselect.CitySelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".widget.addressselect.AddressSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/android:Theme.Holo.Light"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />


        <!--视频播放页-->
        <activity
            android:name=".videoplay.VideoPlayActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <!--信息台-->
        <activity
            android:name=".meetinginfo.Act_MeetingInfo"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <service  android:name="com.easefun.polyvsdk.server.AndroidService"></service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XwI49Ys4zR3P5oS4WfWBx4P0" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>

    </application>

</manifest>
